.navbar{
    background-color: #2E302B;
}

.nav-link{
    color: #ffffff;
    font-size: 18px;
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link:active {
    color: #ffffff !important;
}

.nav-link:visited {
    color: #ffffff !important;
}

.navbar-toggler{
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    /*min-height: 85vh; */
}

footer{
    background-color: #000000;
}

.content {
    flex-grow: 1; 
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

div .col > a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #cfcfcf;
  text-decoration: none;
}

div .col > a:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

a{
    border:none !important;
    outline:none !important;
}

.textoA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    
}

.linea{
    border-left: 2px solid #ffffff;
    height: 250px;
    margin: 0 auto;
    width: 2px;
}

/* DESDE AQUÍ COMENZAR A EDITAR PARA ABAJO, NO TOCAR LO DE ARRIBA */

.card-title{

    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.card-text{
    display: block;
    margin-left: auto;
    margin-right: auto;  
    color: dimgrey;

}

.info{
    text-align: center;
    font-size: xx-large;
}
.border-radius-20 {border-radius: 1.25rem;}
.box-style {border: 1px solid #E2E2E2;}

#cosaVerde{
    border: 1px solid #E2E2E2;
    border-radius: 1.25rem;
    background-color: #525D51;
}
#DemoCarrousel.carousel.slide {
    width: 100%;
    max-width: 920px!important;
}

.colcom{

    text-align: center;
    top: 90px;
    padding: 5%;
    height: 70%;
    border-style: ridge;
    border-width: thin;
    border-color: #000000;
    border-radius: 10px;
    margin-left: 20px;

    
}
.usuarioF{
padding: 15%;
width: 95%;


    }

    .ej{
        display: flex;
    }